<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shaonaji.weihuai" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".DianYou"
            android:label="@string/title_activity_dian_you" >
        </activity>
        <activity
            android:name=".DongMan"
            android:label="@string/title_activity_dong_man" >
        </activity>
        <activity
            android:name=".FeiZaoJu"
            android:label="@string/title_activity_fei_zao_ju" >
        </activity>
        <activity
            android:name=".LingShi"
            android:label="@string/title_activity_ling_shi" >
        </activity>
        <activity
            android:name=".LiYu"
            android:label="@string/title_activity_li_yu" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".Wo"
            android:label="@string/title_activity_wo" >
        </activity>
        <activity
            android:name=".XueTang"
            android:label="@string/title_activity_xue_tang" >
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_sign_in" >
        </activity>
    </application>

</manifest>
